@model Reddnet.Models.DataModels.BlogDataModel

@{
}

<div class="row-c">
    <div>
        <ul>
            @if (!Model.Posts.Any() && !Model.Posts.Where(x => x.Pinned).Any())
            {
                <div class="container" style="margin-top: 26.9px">
                    <h1>No Posts found!</h1>
                    <a class="clickLink" asp-controller="Post" asp-action="New" asp-route-id="@Model.BlogId">New Post</a>
                </div>
            }
            else
            {
                if (Model.Posts.Where(x => x.Pinned).Any())
                {
                    <h1 class="bubble">Pinned</h1>
                    @foreach (var post in Model.Posts.Where(x => x.Pinned))
                    {
                        <li>
                            @{ await Html.RenderPartialAsync("_PostPartial", post); }
                        </li>
                    }
                }

                <h1 class="bubble">Last Posts</h1>
                @foreach (var post in Model.Posts.Where(x => x.Pinned == false))
                {
                    <li>
                        @{ await Html.RenderPartialAsync("_PostPartial", post); }
                    </li>
                }
            }
        </ul>
    </div>

    <div class="container" style="width: 250px; margin-left: 10px; height: 300px; margin-top: 26.9px">
        <h4 class="bubble" style="margin-bottom: 15px">Info</h4>
        <img style="height: 80px; margin-bottom: 10px" src="data:image;base64,@System.Convert.ToBase64String(Model.Cover)" />
        <h2 style="text-align: center"><strong>r/@Model.Name</strong></h2>

        <p style="font-size: 13px; text-align: center;">@Model.Description</p>
        <p style="margin-top: 20px; font-size: 13px; color: gray;">Posts: @Model.Posts.Count()</p>

        <hr />

        <div style="text-align: center">
            <a class="clickLink" asp-controller="Post" asp-action="New" asp-route-id="@Model.BlogId">New Post</a>

            @if (User.IsInRole("Administrator"))
            {
                <a style="margin-left: 10px" class="clickLink" asp-controller="Blog" asp-action="Edit" asp-route-id="@Model.BlogId">Edit</a>
            }
        </div>
    </div>
</div>

