@model Reddnet.Models.DataModels.CommentDataModel

@{
}

<div class="CommentLi">
    <div class="CommentMain">
        <div class="CommentLeft">
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Author.Image)" />
            <a style="margin-bottom: 10px;" asp-controller="Account" asp-action="Profil" asp-route-id="@Model.Author.UserName"><strong>@(char.ToUpper(Model.Author.UserName[0]) + Model.Author.UserName.Substring(1))</strong></a>

            @if(Model.Post.Author.Id == Model.Author.Id)
            {
                <h6>Author</h6>
            }

            <h3 style="color: gray; font-size: 11px">Posts: @(Model.Author.Posts.Count() + Model.Author.Comments.Count())</h3>
        </div>

        <div class="CommentRight">
            <div class="headline">
                <h3 style="color: gray; font-size: 12px">@Model.UploadDate.ToString("dd.MM.yyyy · HH:mm")</h3>
            </div>

            <div class="content">
                @Html.Raw(Model.RenderContent())
            </div>

            <div class="underline">
                @if (User.Identity.Name == Model.Author.UserName || User.IsInRole("Administrator"))
                {
                    <a style="margin-right: 10px;" class="clickLink" asp-controller="Comment" asp-action="Edit" asp-route-id="@Model.CommentId">Edit</a>
                    <a class="clickLink" style="color: red;" asp-controller="Comment" asp-action="Delete" asp-route-id="@Model.CommentId">Delete</a>
                }
            </div>
        </div>
    </div>
</div>