@model Reddnet.Core.Entities.ReplyEntity

<div class="CommentLi">
    <div class="CommentMain">
        <div class="CommentLeft">
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.AuthorEntity.Image)" />
            <a style="margin-bottom: 10px;" asp-controller="Account" asp-action="Profile" asp-route-id="@Model.AuthorEntity.Name"><strong>u/@Model.AuthorEntity.Name</strong></a>

            @if (Model.Post.AuthorId == Model.AuthorId)
            {
                <h6>AuthorEntity</h6>
            }

            <h3 style="color: gray; font-size: 11px">Posts: @(Model.AuthorEntity.Posts.Count() + Model.AuthorEntity.Comments.Count())</h3>
        </div>

        <div class="CommentRight">
            <div class="headline">
                <h3 style="color: gray; font-size: 12px">@Model.Created.ToString("dd.MM.yyyy · HH:mm")</h3>
            </div>

            <div class="content">
                @Html.Raw(Model.RenderContent())
            </div>

            <div class="underline">
                @if (User.Identity.GetAuthorId() == Model.AuthorId || User.IsInRole(ApplicationRoles.Administrator))
                {
                    <a style="margin-right: 10px;" class="clickLink" asp-controller="Comment" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="clickLink" style="color: red;" asp-controller="Comment" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                }
            </div>
        </div>
    </div>
</div>