@model IEnumerable<Reddnet.Domain.Entities.PostEntity>

<div class="flex col stretch">
    <div class="box outline round p-a-1 m-y-block-1">
        @if (Model != null && Model.Any())
        {
            @foreach (var post in Model)
            {
                <div class="flex row m-x-block-2">
                    <img class="image" src="data:image;base64,@System.Convert.ToBase64String(post.Image)" style="width: 5.5rem; height: 4.5rem;" />
                    <div class="flex col stretch m-y-block-1">
                        <h1 class="font big">
                            <a class="link" asp-page="@RouteConstants.PostView" asp-route-id="@post.Id">
                                @post.Title
                            </a>
                        </h1>
                        <div class="flex row col-center font small m-x-block-1">
                            <a class="link" asp-page="@RouteConstants.CommunityView" asp-route-name="@post.Community.Name">
                                <strong>
                                    r/@post.Community.Name
                                </strong>
                            </a>
                            <p>
                                •
                            </p>
                            <p>
                                Posted by
                                <a class="link" asp-page="@RouteConstants.Profile" asp-route-name="@post.User.UserName">
                                    u/@post.User.UserName
                                </a>
                            </p>
                            <p>
                                •
                            </p>
                            <p>
                                @post.Created.ToString("HH:mm")
                            </p>
                        </div>
                        <div class="flex row col-center m-x-block-1">
                            <p>
                                <strong>
                                    @post.Replies.Count
                                </strong>
                                @(post.Replies.Count > 1 ? "Replies" : "Reply")
                            </p>
                            @if (User.GetUserId() == post.UserId)
                            {
                                <a class="link warning" asp-page="@RouteConstants.PostEdit" asp-route-id="@post.Id">
                                    Edit
                                </a>
                                <a class="link danger" asp-page="@RouteConstants.PostDelete" asp-route-id="@post.Id">
                                    Delete
                                </a>
                            }
                        </div>
                    </div>
                </div>

                @if (post != Model.Last())
                {
                    <hr class="hr" />
                }
            }
        }
        else
        {
            <p>
                No post's found.
            </p>
        }
    </div>
</div>
