@model Reddnet.Models.ViewModels.SearchViewModel

@{
}

<div>
    <ul>
        <h1 class="bubble">@Model.Blogs.Count() Blogs found</h1>
        @foreach (var blog in Model.Blogs)
        {
            <li>
                <div class="container" style="width: 850px; padding: 10px; height: 40px">
                    <div class="row-c">
                        <a asp-controller="Blog" asp-action="View" asp-route-id="@blog.BlogId">
                            <img style="height: 40px;" src="data:image;base64,@System.Convert.ToBase64String(blog.Cover)" />
                        </a>
                        <a  style="margin-top: 9px" asp-controller="Blog" asp-action="View" asp-route-id="@blog.BlogId">
                            <h1 style="margin-left: 15px"><strong>@blog.Name</strong></h1>
                        </a>
                        <a  style="margin-top: 9px" asp-controller="Blog" asp-action="View" asp-route-id="@blog.BlogId">
                            <p style="margin-left: 15px"><strong>Description:</strong> @blog.Description</p>
                        </a>
                    </div>
                </div>
            </li>
        }

        <h1 class="bubble">@Model.Posts.Count() Posts found</h1>
        @foreach (var post in Model.Posts)
        {
            <li>
                @{ await Html.RenderPartialAsync("_PostPartial", post); }
            </li>
        }

        <h1 class="bubble">@Model.Users.Count() Users found</h1>
        @foreach (var user in Model.Users)
        {
            <li>
                <div class="container" style="width: 850px; padding: 10px; height: 40px">
                    <div class="row-c">
                        <a asp-controller="Account" asp-action="Profil" asp-route-id="@user.UserName">
                        </a>
                        <img style="height: 40px;" src="data:image;base64,@System.Convert.ToBase64String(user.Image)" />

                        <a style="margin-top: 9px" asp-controller="Account" asp-action="Profil" asp-route-id="@user.UserName">
                            <h1 style="margin-left: 15px; border-radius: 50px"><strong>@user.UserName</strong></h1>
                        </a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

